<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap のためのスターターテンプレート</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"> 
    <style>
    body {
      padding-top: 50px;
    }
    .starter-template {
      padding: 40px 15px;
      text-align: center;
    }
    #navView ul:nth-child(2) li {
      padding-left: 5px;
      padding-right: 5px;
    }
    </style>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">プロジェクトの名前</a>
        </div>
        <div id="navView" class="collapse navbar-collapse">
          <ul  class="nav navbar-nav">
            <li><a href="/">ホーム</a></li>
            <li><a href="/about">自己紹介</a></li>
            <li><a href="/contact">問い合わせ</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <button type="button" class="btn btn-default navbar-btn hidden" data-toggle="modal" data-target="#editModalView">編集する</button>
            </li>
            <li>
              <button class="btn btn-default navbar-btn hidden" data-toggle="modal" data-target="#deleteModalView">削除する</button>
            </li>
            <li>
              <button class="btn btn-default navbar-btn hidden" data-toggle="modal" data-target="#createModalView">ページを追加する</button>
            </li>
            <li>
              <button class="btn btn-default navbar-btn" data-toggle="modal" data-target="#resetModalView">初期化</button>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="starter-template">
        <div id="pageView"></div>
        <div id="message"></div>
      </div>
    </div><!-- /.container -->

    <!-- Modal -->
    <div id="editModalView" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title">編集しています。</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>タイトル</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>コンテンツ</label>
              <textarea class="form-control" rows="5"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">保存する</button>
          </div>
        </div>
      </div>
    </div>

    <div id="deleteModalView" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title">記事の削除</h4>
          </div>
          <div class="modal-body">
            <p>この記事を削除しますか？</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">削除する</button>
          </div>
        </div>
      </div>
    </div>

    <div id="createModalView" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title">ページの追加</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>名前</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>タイトル</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>コンテンツ</label>
              <textarea class="form-control" rows="5"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">追加する</button>
          </div>
        </div>
      </div>
    </div>

    <div id="resetModalView" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title">初期化</h4>
          </div>
          <div class="modal-body">
            <p>初期化しますか？保存したデータはすべて削除されます。</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">初期化する</button>
          </div>
        </div>
      </div>
    </div>

    <script id="pageTemplate" type="text/template">
      <h1><%= title %></h1>
      <div class="lead"><%= body %></div>
    </script>

    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone-min.js"></script>
    <script src="/js/app.js"></script>

  </body>
</html>

